body{
  background-color: #222222;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 

/* Header */

.notes-header{
    font-size: 2rem;
    font-weight: 700;
}

.topnav {
    overflow: hidden;
    background-color: #222222;
    border: 1px solid rgb(211, 199, 34);
    border-top: none;
    border-right: none;
    border-left: none;

  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: rgb(211, 199, 34);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(211, 199, 34);
    color: black;
  }

  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 16px;
    margin-right: 16px;
    font-size: 17px;
    height: 40px !important;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
  }

  .topnav input[type=text]:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-radius: 5px;
  }

  
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 16px;
    margin-right: 16px;
    background-color: rgb(211, 199, 34);    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 40px !important;
  }
  
  .topnav .search-container button:hover {
    background: rgb(240, 229, 72);
  }

  .header-form{
    color: rgb(240, 229, 72);
   text-align: center;
   margin-top: 24px;
   margin-bottom: 18px;
  }

  .note-input {
    border: 1px solid rgb(240, 229, 72);
    padding: 16px;
    margin: 14px 0;
    border-radius: 8px;
    margin-bottom: 32px;
    max-width: 700px;
    margin: 0 auto;
   }

   .max-char{
    color: rgb(240, 229, 72);
   }
   
   .note-input input, .note-input textarea {
    font-size: 20px;
    background-color: transparent;
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    margin: 8px 0;
    color: white;
    border: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 2px;
   }

   .note-input .statement-input{
    border: 1px solid white;
    min-height: 200px;
   }

   .note-input input:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-radius: 2px;
   }

   .submit-note{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(240, 229, 72);
    background-color: rgb(240, 229, 72);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
   }
   .submit-note:hover{
    background-color: rgb(221, 212, 88);
   }

   /* List */

   .not-found{
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
   }

   .note-list_container{
    margin: 46px 8vw;
   }

   .note-list_container h2{
    font-size: 32px;
    margin-bottom: 16px;
    color: rgb(240, 229, 72);
  }

   .note-list{
    display: grid;
    grid-column: auto;
    grid-template-columns: auto auto auto;
    gap: 24px;
   }

   .note-item{
    border: 1px dashed rgb(240, 229, 72);
    padding: 16px;
    border-radius: 12px;
    max-width: 500px !important;
   }

   .note-body_date{
    color: rgb(240, 229, 72);
   }

   .note-body_title{
    font-size: 24px;
    color: white;
    overflow: hidden;
    max-width: 18ch;
    max-height: 5ch;
   }

   .note-body_desc{
    color: white;
    margin-bottom: 12px;
    margin-top: 12px;
   }

   .note-actions{
    width: 100%;
   }

   .note-actions button{
    width: 100%;
    min-width: 80px;
    height: 30px;
    border: none;
   }
   .note-actions button:hover{
    cursor: pointer;
   }

   .btn-delete{
    background-color: rgb(212, 50, 50);
    color: white;
   }
   .btn-delete:hover{
    background-color: rgb(167, 61, 61);
    color: white;
   }

   .btn-archive{
    background-color: rgb(44, 44, 180);
    color: white;
   }
   .btn-archive:hover{
    background-color: rgb(72, 72, 148);
    color: white;
   }

  @media only screen and (max-width: 470px) {
    .topnav input[type=text] {
     width: 29vw !important;
    }
  }

  @media only screen and (max-width: 750px) {
    .note-input{
      margin: 16px;
    }
  }
  @media only screen and (max-width: 950px) {
    .note-list{
      grid-template-columns: auto auto;   
     }
  }
  @media only screen and (max-width: 700px) {
    .note-list{
      grid-template-columns: auto;   
     }
  }